@model MovieMark.Models.EpisodioViewModels.EpisodioIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Css {
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="py-2 bd-highlight">
                    <h2>Todas os Episódios</h2>
                </div>
                @*<div class="py-2 bd-highlight">
                    <button type="button" class="btn btn-primary" onclick="AddSerie()">
                        <i class="fa fa-plus"></i> Adicionar Série
                    </button>
                </div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="table-temporada" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Temporada</th>
                        <th>Série</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var episodio in Model.ListaEpisodio)
                    {
                        <tr>
                            <td>@episodio.Nome</td>
                            <td>@episodio.TemporadaNome</td>
                            <td>@episodio.SerieNome</td>
                            <td>
                                <button type="button" class="btn btn-warning" onclick="Edit(@episodio.Id)">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="Delete(@episodio.Id)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>
        function Edit(id) {
            window.location.href = "@Url.Action("Edit", "Episodio")/" + id;
        }

        function Delete(id) {
            Swal.fire({
                title: 'Excluir?',
                text: "Você tem certeza que quer excluir este episódio?",
                icon: 'error',
                showCancelButton: true,
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "DELETE",
                        url: "@Url.Action("Delete", "Episodio")",
                        data: { id },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire(
                                    'Excluido!',
                                    data.message,
                                    'success'
                                )
                            }
                            else {
                                console.log(data)
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                }
            })


        }

        //DataTable
        $(document).ready(function () {
            $('#table-temporada').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Mostrando _MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    },
                    "buttons": {
                        "copy": "Copiar para a área de transferência",
                        "copyTitle": "Cópia bem sucedida",
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        }
                    }
                }
            });
        });
    </script>
}