@model MovieMark.Models.SeriesViewModels.SeriesDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="py-2 bd-highlight">
                    <h2>@Model.Serie.Nome</h2>
                </div>
                <div class="py-2 bd-highlight">
                    <button type="button" class="btn btn-primary" onclick="AddTemporada(@Model.Serie.Id)">Adicionar Temporada</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordion-@(Model.Serie.Id)">
                @foreach (var temporada in Model.Serie.ListaTemporada)
                {
                    <div class="card">
                        <div class="card-header" id="heading-@(temporada.Id)">

                            <div class="d-flex justify-content-between">
                                <div class="py-2 bd-highlight">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-@(temporada.Id)" aria-expanded="false" aria-controls="collapse-@(temporada.Id)">
                                        @temporada.Nome
                                    </button>
                                </div>
                                <div class="py-2 bd-highlight">
                                    <button type="button" class="btn btn-primary" onclick="ViewTemporada(@temporada.Id)">V</button>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-@(temporada.Id)" class="collapse" aria-labelledby="heading-@(temporada.Id)" data-parent="#accordion-@(Model.Serie.Id)">
                            <div class="card-body">
                                @for (int i = 0; i < temporada.ListaEpisodio.Count; i++)
                                {
                                    <p>Episódio @(i + 1) - @temporada.ListaEpisodio[i].Nome</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function AddTemporada(id) {
            window.location.href = "@Url.Action("Create", "Temporada")/" + id;
        }

        function ViewTemporada(id) {
            window.location.href = "@Url.Action("Details", "Temporada")/" + id;
        }
    </script>
}